html body{
    background-color: white;
    color: #191414;
    display: flex;
    justify-content: center;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.container{
    width:fit-content;
    box-shadow: #191414;
}

h1{
    /* margin: 30px; */
    margin-top: 0px;
}

.card{
    box-shadow: 0px 0px 100px #262626b1;
    margin: 15px;
    padding: 30px;
    border-width: 0;
    border-radius: 10px;
}
.Picker{
    align-items: center;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Spotify{
    margin: 5px;
    color: white;
    background-color: #1db954;
    border-width: 0px;;
    border-radius: 30px;
    padding: 18px 48px 16px;
    font-size: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Spotify:hover{
    background-color:#1ed760;
}

.Spotify:active{
    background-color: #1aa34a;
}
.Spotify:focus{
    outline: 0;
    background-color:#1ed760;
}

a.Spotify, a.Spotify:hover, a.Spotify:focus, a.Spotify:active {
    text-decoration: none;
    color: white;
}