
.ProgressBar{
    width: 40vw;
    height: 40px;
    background-color: grey;
}

.Bar{
    height: 100%;
    width: 100%;
    background-color: blue;
}

.YearPicker button{
    background-color: red;
}