html{
    font-size: 16px;
}
.ProgressBar{
    width: 100%;
    height: 40px;
    background-color: grey;
}

.Bar{
    height: 100%;
    width: 100%;
    background-color: blue;
}

.Picker{
}

.Spotify{
    margin: 5px;
    color: white;
    background-color: #1db954;
    border-width: 0px;;
    border-radius: 30px;
    padding: 18px 48px 16px;
    font-size: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Spotify:hover{
    background-color:#1ed760;
}

.Spotify:active{
    background-color: #1aa34a;
}
.Spotify:focus{
    outline: 0;
}